.block-info {
    padding: 40px 27px;
    text-align: center;
    background: rgba(191, 147, 102, 0.03);
    border: 1px solid var(--color-golden);

    @mixin mobile-m {
        padding: 25px 15px;
    }

    &__content {
        margin-bottom: 26px;

        & > * {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__title {
        @include subtitle;

        font-weight: 400;
    }
}